[gcode_macro START_PRINT]
gcode:
  SET_LED LED="led_strip" RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=1.0 SYNC=0 TRANSMIT=1
  G28 ;Home
  BED_MESH_CALIBRATE ADAPTIVE=1
  SMART_PARK
  M204 P3000 R3000.00 T5000.00 ;Setup Print/Retract/Travel acceleration
  M220 S100 ;Reset Feedrate
  M221 S100 ;Reset Flowrate
  G92 E0 ;Reset Extruder
  #CLEAN_NOZZLE
  G1 Z2.0 F3000 ;Move Z Axis up


[gcode_macro END_PRINT]
gcode:
  G91 ;Relative positionning
  G1 E-2 F2700 ;Retract a bit
  G1 E-2 Z0.2 F2400 ;Retract and raise Z
  G1 X5 Y5 F3000 ;Wipe out
  G1 Z10 ;Raise Z more
  G90 ;Absolute positionning
  
  G1 X0 Y0 ;Present print
  M106 S0 ;Turn-off fan
  M104 S0 ;Turn-off hotend
  M140 S0 ;Turn-off bed
  
  M84 X Y Z E ;Disable all steppers

[gcode_macro LOAD_FILAMENT]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E100 F350          # Move the extruder forward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

[gcode_macro UNLOAD_FILAMENT]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E-100 F350         # Move the extruder backward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

[gcode_macro M0]
gcode:
  PAUSE

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#####################################
#        Nozzle Clean Macro         #
#####################################

# Origionally forked from https://github.com/rootiest/zippy-klipper_config/blob/master/extras/CLEAN_NOZZLE.cfg @ v1.5

# Sam's nozzle brush - 1.0
# https://www.printables.com/model/450432
# housing: X150, Y200, Z30
# brush: X180, Y210 -> 220, Z24

[gcode_macro CLEAN_NOZZLE]
variable_start_x: 180
variable_start_y: 220
variable_start_z: 24
variable_end_x: 110
variable_end_y: 110
variable_end_z: 10
variable_end_z_use_current: False ; if True, use current Z position +2 (for safety) as end Z
variable_wipe_axis: 'X' ; wipe side to side
variable_wipe_dist: 30
variable_wipe_qty: 3
variable_wipe_spd: 50
variable_raise_distance: 30
variable_extruder_name: 'extruder'
variable_extruder_temp: 0 # 180
variable_output: 118
variable_pre_hot: True
variable_led_status: False
variable_status_heat: 'STATUS_HEATING'
variable_status_clean: 'STATUS_CLEANING'
variable_ready_status: 'STATUS_READY'
gcode:
    HOME_IF_NEEDED

    # Get the current Z position
    {% set current_z = printer.toolhead.position[2] %}
    {% set nozzle_targ = params.TARGET|default(0)|float %}
    {% set is_hot = params.HOT|default(pre_hot|string) %}
    {% if is_hot|lower == "false" %}
        {% if led_status == True %}
            {status_heat}
        {% endif %}
        M{output} Heating extruder..
        {% if nozzle_targ > 0 %}
            SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET={nozzle_targ}
            TEMPERATURE_WAIT SENSOR={extruder_name} MINIMUM={nozzle_targ}
        {% elif extruder_temp > 0 %}
            SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET={extruder_temp}
            TEMPERATURE_WAIT SENSOR={extruder_name} MINIMUM={extruder_temp}
        {% endif %}
    {% endif %}
    G90    ; absolute positioning

    ## Raise nozzle
    G1 Z{raise_distance}
    ## Move nozzle to start position
    G1 X{start_x} Y{start_y} F6000
    G1 Z{start_z} F1500
    # Set lighting
    {% if led_status == True %}
        {status_clean}
    {% endif %}
    ## Wipe nozzle
    RESPOND TYPE=command MSG="Wiping nozzle"
    M{output} Wiping nozzle..
    {% for wipes in range(1, (wipe_qty + 1)) %}
        {% if wipe_axis|lower == 'x' %}
            G1 X{start_x + wipe_dist} F{wipe_spd * 60}
            G1 X{start_x} F{wipe_spd * 60}
        {% elif wipe_axis|lower == 'y' %}
            G1 Y{start_y + wipe_dist} F{wipe_spd * 60}
            G1 Y{start_y} F{wipe_spd * 60}
        {% else %}
            M{output} INVALID WIPE AXIS CONFIGURATION
        {% endif %}
    {% endfor %}

    ## Raise nozzle, then move to end X/Y position
    G1 Z{raise_distance}
    G1 X{end_x} Y{end_y} F6000

    # Set end Z position
    {% if end_z_use_current == True %}
        {% set end_z = current_z + 2 %}
    {% endif %}

    # Move to end Z position
    G1 Z{end_z} F1500

    # Turn off extruder if needed
    {% if is_hot|lower == "false" %}
        M{output} Cooling extruder..
        SET_HEATER_TEMPERATURE HEATER={extruder_name} TARGET=0
    {% endif %}

    # Set lighting
    {% if led_status == True %}
        {status_ready}
    {% endif %}

    M{output} Completed nozzle wipe

[gcode_macro TEST_SPEED]
# Home, get position, throw around toolhead, home again.
# If MCU stepper positions (first line in GET_POSITION) are greater than a full step different (your number of microsteps), then skipping occured.
# We only measure to a full step to accomodate for endstop variance.
# Example: TEST_SPEED SPEED=300 ACCEL=5000 ITERATIONS=10

description: Test for max speed and acceleration parameters for the printer. Procedure: Home -> ReadPositionFromMCU -> MovesToolhead@Vel&Accel -> Home -> ReadPositionfromMCU

gcode:
    # Speed
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    # Iterations
    {% set iterations = params.ITERATIONS|default(5)|int %}
    # Acceleration
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    # Minimum Cruise Ratio
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    # Bounding inset for large pattern (helps prevent slamming the toolhead into the sides after small skips, and helps to account for machines with imperfectly set dimensions)
    {% set bound = params.BOUND|default(20)|int %}
    # Size for small pattern box
    {% set smallpatternsize = SMALLPATTERNSIZE|default(20)|int %}
    
    # Large pattern
        # Max positions, inset by BOUND
        {% set x_min = printer.toolhead.axis_minimum.x + bound %}
        {% set x_max = printer.toolhead.axis_maximum.x - bound %}
        {% set y_min = printer.toolhead.axis_minimum.y + bound %}
        {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    
    # Small pattern at center
        # Find X/Y center point
        {% set x_center = (printer.toolhead.axis_minimum.x|float + printer.toolhead.axis_maximum.x|float ) / 2 %}
        {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
        
        # Set small pattern box around center point
        {% set x_center_min = x_center - (smallpatternsize/2) %}
        {% set x_center_max = x_center + (smallpatternsize/2) %}
        {% set y_center_min = y_center - (smallpatternsize/2) %}
        {% set y_center_max = y_center + (smallpatternsize/2) %}

    # Save current gcode state (absolute/relative, etc)
    SAVE_GCODE_STATE NAME=TEST_SPEED
    
    # Output parameters to g-code terminal
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    
    # Home and get position for comparison later:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28
        # QGL if not already QGLd (only if QGL section exists in config)
        {% if printer.configfile.settings.quad_gantry_level %}
            {% if printer.quad_gantry_level.applied == False %}
                QUAD_GANTRY_LEVEL
                G28 Z
            {% endif %}
        {% endif %} 
        # Move 50mm away from max position and home again (to help with hall effect endstop accuracy - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/24)
        G90
        G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 X Y
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Go to starting position
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    # Set new limits
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        # Large pattern diagonals
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        
        # Large pattern box
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
    
        # Small pattern diagonals
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        
        # Small pattern box
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    # Restore max speed/accel/accel_to_decel to their configured values
    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} MINIMUM_CRUISE_RATIO={printer.configfile.settings.printer.minimum_cruise_ratio} 
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel} ACCEL_TO_DECEL={printer.configfile.settings.printer.max_accel_to_decel}
    {% endif %}

    # Re-home and get position again for comparison:
        M400 # Finish moves - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/66
        G28 # This is a full G28 to fix an issue with CoreXZ - https://github.com/AndrewEllis93/Print-Tuning-Guide/issues/12
        # Go to XY home positions (in case your homing override leaves it elsewhere)
        G90
        G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
        G4 P1000 
        GET_POSITION

    # Restore previous gcode state (absolute/relative, etc)
    RESTORE_GCODE_STATE NAME=TEST_SPEED